
@import url('https://fonts.googleapis.com/css?family=Playfair+Display');
body{
  /*background: linear-gradient(45deg,#3a3a77,#562a82);*/
  background: linear-gradient(45deg, #00d2ff,#928dab);
  font-family: 'Playfair Display', serif;
  padding: 0; margin: 0;
}
.display_graph, .emotion_state{
  padding:2em;
  border: 3px solid #edf4f6;
  border-radius: 20px;
}
#grid_wrapper{
  display:grid;
  grid-gap: 20px;
  grid-auto-rows: minmax(100px, auto);
  grid-column: 50px auto auto;
  padding: 0; grid: 0;
}
.zero{
  grid-column: 2;
  grid-row: 1;
  text-align: center;
}
.side-nav{
  grid-column: 1;
  grid-row: 1/ span 4;
  background: #243B55 !important;
  display: grid;
  color: white;
  padding: 10px;
  /*text-align: center;*/
}
.side-nav > #profile_pic{
  grid-row: 1;
  width: 80px; height: 80px;
  padding: 5px !important;  margin:auto;
  background-image: url('https://cdn.pixabay.com/photo/2016/08/08/09/17/avatar-1577909_1280.png');
  border-radius: 100px;
}
.side-nav > #plant_info{
  grid-row: 2;
}
.side-nav > #close-btn{
  grid-row: 3;
  padding: 15px 40px;
  transition: all ease-out 0.5s;
  cursor: pointer;
  font-weight: bold;
}
.side-nav > #close-btn:hover{
  background: white;
  color: #000;
}
.one{
  grid-column: 2;
  grid-row: 2;
}
.two{
  grid-column: 3;
  grid-row: 2;
  background: linear-gradient(to bottom,#fc582f,#ff7c5b);
  box-shadow: 0px 0px 16px -1px rgba(0, 0, 0, 0.55);
}
.three{
  grid-column: 2;
  grid-row: 3;
  display:block;
}
.three > #ele1{
  width: 50%;
}
.three > #ele2{
  width: 50%;
}
.four{
  grid-column: 2;
  grid-row: 4;
}
.five{
  grid-column: 3;
  grid-row: 4;
}
#container {
  margin: 20px;
  width: 300px;
  height:300px;
  position: relative;
}
#range_selector{
  -webkit-appearance: none;
  height: 15px;
  border-radius: 20px;
  background: white;
  outline: none;
  opacity: 0.7;
  transition: all ease-out 0.2s;
}
#range_selector::-webkit-slider-thumb{
  -webkit-appearance: none;
  appearance: none;
  width: 30px;
  height:30px;
  border-radius: 100%;
  background:#fc582f;
  cursor: pointer;
}
